<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Layout</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>true</string>
		<key>Key</key>
		<string>lineWrapping</string>
		<key>Title</key>
		<string>Wrap lines</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Formatting</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>true</string>
		<key>Key</key>
		<string>highlightSyntax</string>
		<key>Title</key>
		<string>Highlight syntax</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>true</string>
		<key>Key</key>
		<string>showWhitespaceCharacters</string>
		<key>Title</key>
		<string>Show whitespace</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
